{% extends "layout.html" %}

{% block content %}
<div class="p-4 max-w-lg mx-auto">
    <h2 class="text-2xl font-bold mb-4">Edit Service</h2>
    <form action="/myservices/edit/{{ service.id }}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label for="title" class="block text-sm font-medium">Service Title</label>
            <input type="text" id="title" name="title" value="{{ service.title }}" class="input input-bordered w-full" required>
        </div>

        <div class="mb-4">
            <label for="description" class="block text-sm font-medium">Description</label>
            <textarea id="description" name="description" class="textarea textarea-bordered w-full" required>{{ service.description }}</textarea>
        </div>

        <div class="mb-4">
            <label for="category" class="block text-sm font-medium">Category</label>
            <select id="category" name="category" class="select select-bordered w-full" required>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if service.category.id == cat.id %}selected{% endif %}>{{ cat.name }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="mb-4">
            <label for="image" class="block text-sm font-medium">Image</label>
            <input type="file" id="image" name="image" class="file-input file-input-bordered w-full">
            {% if service.image %}
                <p class="mt-2">Current Image:</p>
                <img src="{{ service.image.url }}" alt="Current image" class="w-32 h-32 mt-2">
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="price" class="block text-sm font-medium">Price</label>
            <input type="number" id="price" name="price" value="{{ service.price }}" step="0.01" class="input input-bordered w-full" required>
        </div>
{##}
{#        <div class="mb-4">#}
{#            <label for="is_active" class="block text-sm font-medium">Status</label>#}
{#            <select id="is_active" name="is_active" class="select select-bordered w-full">#}
{#                <option value="Active" {% if service.is_active == 'Active' %}selected{% endif %}>Active</option>#}
{#                <option value="Inactive" {% if service.is_active == 'Inactive' %}selected{% endif %}>Inactive</option>#}
{#            </select>#}
{#        </div>#}

        <div class="flex justify-end">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/myservices" class="btn btn-secondary ml-2">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
